.auth-logo{
    text-align: center;
    padding-bottom: 0;
    padding-top: 10px;

}
.auth-sub-title {
    color: #888;
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
}
.box .form {
    padding: 30px 0;
}
.row {
    padding-bottom: 20px;
}
.hidden {
    display: none;
}
.form-group {
    margin-bottom: 20px;
    flex-direction: column;
}
.form-group input {
    border: 2px double #eee;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    color: #888;
    width: 100%;
    box-sizing: border-box;
}
.form-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

#auth {
    position: relative;
    width: 600px;
    min-height: 100vh;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}
#auth .box {
    position: relative;
    align-items: center;
    justify-content: center;
}
#auth .box-wrap {
    display: flex;
    max-width: 550px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
}
#auth .box-wrap h1 {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    padding: 15px -15px 8px 0;
}
#auth .box form{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
}
#auth .box button {
    background: #2bd14e;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 20px;
}
#auth .box button:hover {
    background: #45b783;
}
#auth .box .extra .simple a.a {
    font-weight: normal;
    color: #267cde;
}
#auth .box .extra {
    border-top: 1px solid #eee;
    padding-top: 25px;
}
#auth .box .extra .simple {
    text-align: center;
    font-size: 15px;
    color: #888;
}
#master .wf{
    position:relative;
    width:100%;
    height:100%;
    background-color:#fff;
}
.wf::after{
    /*display: block;*/
    position:absolute;
    left:600px;
    right:0;
    top:0;
    bottom:0;
    content:"";
    background-image:url(https://static-gcdn.basecdn.net/account/image/background.png);
    background-position: right bottom;
    background-repeat: repeat-x;
    background-size: cover;
}
/* width */
#auth::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#auth::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
#auth::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
#auth::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.row {
    border-bottom: 1px solid #eee;
}