@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
section {
    width: 100%;
    min-height: 100vh;
    padding: 30px;
}
header {
    top: 0;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1em ridge #e9eaed;
}
header .group-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #9fa0a2;
}
header .group-left .fa-arrow-left {
    font-size: 24px;
    color: #9fa0a2;
    margin-right: 20px;
}
header .account {
    margin-left: 0;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #e9eaed;
}
header h1 {
    font-size: 20px;
    font-weight: 550;
    margin-left: 0;
}
header .nav-group {
    flex-direction: row;
    position: relative;
    line-height: 3px;
}
button#btn-open {
    display: flex;
    background-color: #2bd14e;
    height: 40px;
    width: 180px;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    border-width: 0;
}
button#btn-open:hover {
    background-color: #45b783;
}
button#btn-open .fa-arrow-up {
    margin-right: 20px;
}

.box {
    padding: 20px;
    display: flex;
    z-index: 3;
    justify-content: center;
}
.box .avatar {
    flex-direction: column;
}
.box .info {
}
.box .info .info-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    row-gap: 10px;
}
.box .info .info-box .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}
.box .info .info-box .right h4 {
    color: #4b494a;
}
.contact {
    position: relative;
    z-index: 3;
}
img {
    position: relative;
    border-radius: 50%;
    /*flex: 1;*/
    height: 150px;
    width: 150px;
    margin-right: 20px;
}

h1, h3 {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    font-size: 28px;
}
h3 {
    font-size: 18px;
    color: #e3e5e8;
    margin: 10px 0 10px 0;
}
h4 {
    font-size: 16px;
    color: #9fa0a2;
    /*margin-top: 10px;*/
}
p {
    margin: 10px 0;
}

#modal-container {
    z-index: 4;
    /*display: flex;*/
    margin: 20px auto;
    text-align: center;
    min-height: 100vh;
    border-radius: 12px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease-in-out;
    overflow-y:scroll;
    padding-bottom: 40px;
}
#modal-container.show{
    opacity: 1;
    pointer-events: all;
}
#modal-container.show #modal {
    top:100px
}
#modal {
    max-width: 60vw;
    background-color: #fff;
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    transition: all 0.25s ease-in-out;
}
#modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid #dedede;

}
#modal-container .modal-header h1 {
    font-size: 24px;
    font-weight: 550;
    margin: 20px 0;
}
button#btn-close {
    border: 0;
    font-size: 24px;
    background: none;
    outline: none;
}
#modal-container .btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.btn-cancel{
    background-color: #e9eaed;
    color: #9fa0a2;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 550;
    width: 48%;
}
.btn-update{
    background-color: #2bd14e;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 550;
    width: 48%;
}
button {
    cursor: pointer;
}
form {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    background: #ffffff;
}
form label {
    padding: 0.5em 0.5em 0.5em 0;
}
form input {
    background: #fff;
    border: 1px solid #9c9c9c;
}
.modal-body form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.form-group {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 20px;
}
.form-group label {
    font-size: 16px;
    margin-bottom: 10px;
    justify-content: flex-start;
    display: flex;
    width: 10vw;
}
.form-group .sub-label {
    font-size: 14px;
    color: #9fa0a2;
    margin-bottom: 10px;
    justify-content: flex-start;
    display: flex;
    width: 10vw;
}
.form-group input {
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #9fa0a2;
    width: 100%;
}